
/* ----------------------------

  table of content

----------------------------- */

.table_of_contents {
	display: block;
    height: 100%;
    width: 20%;
    position: absolute;
    left: 0;
    border-right: 1px solid lightgrey;
    padding: 1em 0;
}